html, body, * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.preview {
    display: inline-block;
    margin-bottom: 20px;
}

.preview-item {
    display: block;
}

.preview-item {
    width: 20%;
    height: 100px;
    float: left;
}

.preview-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: 0.6s;
}

.preview-item img:hover {
    transform: scale(1.2);
}

img {
    max-width: 100%;
}

.wrapper {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 60px;
}

.slick-prev, .slick-next {
    background: rgba(0,0,0,.14);
    border-radius: 50%;
    padding: 0px;
    height: 30px;
    width: 30px;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: #ccc;
}

.slick-next {
    right: -35px;
}
.slick-prev {
    left: -35px;
}